body{
    background-color:#F7F8FC;
    font-family: "Segoe UI", sans-serif;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}
.content{
    border-style: none;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
.containers{
    display: flex;
    flex: 1;
    gap: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.right_side{
    padding-left: 50px;
}
.container{
    padding: 10px;
    background-color:#e7e7e7;
    border-radius: 15px;
    border-style: solid;
    border-color:rgba(54, 54, 54,0.25);
    width: 20rem;
    height: 100%;
}
.consultations_list{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color:#ffffff;
    border-radius: 15px;
}
.appointments_list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color:#ffffff;
    padding: 10px;
    height: 14rem;
    border-radius: 15px;
}
.patients_list{
    padding: 5px;
    border-radius: 15px;
    border-style: solid;
    border-color:rgba(54, 54, 54,0.25);
    height: 12rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color:#ffffff;
}
.consultation_box{
    text-align: center;
    border-style: solid;
    border-color:rgba(54, 54, 54,0.25);
    border-radius: 15px;
    height: 8rem;
    padding: 5px;
    background: rgba(90, 158, 236, 0.18);
}
.appointment_box{
    text-align: center;
    height: 5rem;
    padding: 5px;
    background: rgba(21, 101, 192, 0.18);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-left-color: rgb(0, 73, 150);
    border-left-style: solid;
    border-left-width: 2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#patient_search{
    width: 19.25rem;
    padding-left: 5px;
}
.patient_button{
    cursor: pointer;
}
