body{
    font-family: Verdana;
}
.content{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}
.left_side{
    flex: 1;
    padding: 20px;
}

.right_side{
    flex: 0 0 300px; /* fixed sidebar */
    padding: 20px;
    
}
.consultation_container{
    
    width: 100%;
    border-style: solid;
    border-color:rgb(86, 86, 86);
    
}
.consultation_box{
    padding-left: 10px;
}
.between{
    height: 5px;
    background-color:rgb(182, 178, 178);
}
.download_button{
    text-decoration: none;
    background-color:rgb(169, 169, 169);
    color: white;
    cursor: pointer;
}
.my_doctors_list{
    width: 20rem;
    height: 10rem;
    border-style: solid;
    border-color:rgb(86, 86, 86);
    overflow-y: auto;
}
.doctor_box{
    border-style: solid;
    padding-left: 10px;
}