body{
    background-color:#F7F8FC;
    font-family: "Segoe UI", sans-serif;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}
.content{
    border-style: none;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
.right_side{
    gap: 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.doctor_search_list{
    background-color: white;
    border: 3px solid rgba(62, 62, 62,0.5);
    border-radius: 13px;
    padding: 10px;
    overflow-y: auto;
    width: 25rem;
    height: 10rem;
}
.appointments_list{
    background-color: white;
    border: 3px solid rgba(62, 62, 62,0.5);
    border-radius: 13px;
    padding: 10px;
    overflow-y: auto;
    width: 25rem;
    height: 10rem;
}
.appointment_box_1{
    background: rgba(21, 101, 192, 0.18);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-left-color: rgb(0, 73, 150);
    border-left-style: solid;
    border-left-width: 2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 5px;
}
.appointment_box_0{
    background: rgba(115, 116, 116, 0.18);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-left-color: rgb(72, 76, 80);
    border-left-style: solid;
    border-left-width: 2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 5px;
}
.appointment_box_-1{
    background: rgba(221, 38, 28, 0.18);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-left-color: rgb(150, 15, 0);
    border-left-style: solid;
    border-left-width: 2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 5px;
}
.doctor_button{
    width: 100%;
}
.container{
    border: 3px solid rgb(0, 0, 0, 0.25);
    border-radius: 13px;
    padding: 10px;
}
#calendar{
    width: 650px;
    height: 650px;
}
#doctor_search{
    width: 26rem;
}
.doctor_button{
    cursor: pointer;
}