body{
    background-color:#F7F8FC;
    font-family: "Segoe UI", sans-serif;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}
.content{
    border-style: none;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
.right_side{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    padding: 20px;
}
#calendar{
    width: 650px;
    height: 650px;
}
.fc-day-today {
    background-color: transparent !important;
    border: 2px solid #000000 !important;
}
#appointment_panel{
    border-radius : 15px;
    display: none;
    width: 400px;
    height: 500px;
    border: 3px solid rgba(0, 0, 0, 0.25);
    background-color: white;
}
.panel_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.time_segments_container{
    height: 20rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time_segments_container > div {
    height: 100%;
    flex-direction : column;
    gap : 5px;
    overflow-y: auto;
}
#make_appointment_button{
    display: none;
}
#modal_box{
    gap: 5px;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: white;
    display: none;
    position: fixed;
    z-index: 1000;
}
.time_segment_button{
     padding: 5px;
    background-color:rgba(12, 102, 181, 0.15);
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    cursor: pointer;
}
.doctor_info_container{
    padding: 5px;
    border: 3px solid rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 15px;
}
.big_cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
}