<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/doctor_page.css') }}">
        <link rel ="stylesheet" href = "{{ url_for('static', filename='CSS/sidebar.css') }}">
        <title>Teammed</title>
    </head>
    <body>

        <div class ="content">

                    {% include "sidebar.html" %}
                    
                    <div class = "right_side">
                             
                            <h2 style="color:rgb(71, 71, 71)">Information for Dr. {{ first_name.title() }} {{ last_name.title() }} </h2>

                            <br>
                            <br>

                        <div class ="containers">

                            <div class ="container">

                                <h3 style="color:rgb(71, 71, 71)">Latest consultations:</h3>

                                <div class ="consultations_list">
                                    {% for c in consultations %}
                                        <div class ="consultation_box">
                                            <p><strong>{{c.patient.first_name.title()}} {{c.patient.last_name.title()}}</strong></p>
                                            <p>{{c.diagnostic.title()}}</p>
                                            <p>{{c.consultation_date.strftime("%d %B %Y")}}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class ="container">

                                <h3 style="color:rgb(71, 71, 71)">Upcoming appointments:</h3>

                                <div class ="appointments_list">
                                    {% for a in appointments %}
                                        <div class ="appointment_box">
                                            <p><strong>{{a.patient.first_name.title()}} {{a.patient.last_name.title()}}</strong></p>
                                            <p>{{a.appointment_date.strftime("%d %B %Y")}}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            
                            <div class ="container">

                                    <h3 style="color:rgb(71, 71, 71)">My patients:</h3>

                                    <input type="text" id="patient_search" placeholder="search patient">

                                    <br>
                                    <br>

                                    <div class ="patients_list">
                                        {% for p in patients %}
                                               <button type ="button" class ="patient_button" onclick = " window.location.href='/display_patient/{{p.id}}'" >{{p.first_name.title()}} {{p.last_name.title()}}</button>
                                        {% endfor %}
                                    </div>

                            </div>
                        </div>
                    </div>

        </div>
            <script src = "{{ url_for('static' , filename = 'JavaScript/sidebar.js') }}"></script>
            <script src = "{{ url_for('static' , filename = 'JavaScript/doctor_page.js') }}"></script>
    </body>

</html>