<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/doctor_appointments_page.css') }}">
        <link rel ="stylesheet" href = "{{ url_for('static', filename='CSS/sidebar.css') }}">
        <title>Teammed</title>
    </head>
    <body>

        <div class ="content">

                    {% include "sidebar.html" %}
                    
                    <div class = "right_side">

                        <div class ="container">

                            <h3>Pending appointments</h3>

                            <div class ="ap_list">

                                <form method = "POST" action = "/submit_appointments_response">

                                {% for ap in pending_appointments %}

                                    <div class="ap_box">
                                            <p> {{ap.patient.first_name}} {{ap.patient.last_name}} </p>
                                            <p> {{ap.appointment_date}} </p>

                                            <label>Accept</label>
                                            <input type="radio" name = "confirmation_{{ap.id}}" value = "1">

                                            <label>Reject</label>
                                            <input type="radio" name = "confirmation_{{ap.id}}" value = "-1">

                                    </div>

                                    <hr class ="between_consultations">

                                {% endfor %}
                                
                                <button type ="submit" class ="input_box" ><strong> Submit responses </strong></button>

                                </form>

                            </div>

                        </div>
                        
                        <div class ="container">

                            <h3>Upcoming appointments</h3>

                            <div class ="ap_list">

                                {% for ap in upcoming_appointments %}

                                    <div class="ap_box">

                                            <p> {{ap.patient.first_name}} {{ap.patient.last_name}} </p>
                                            <p> {{ap.appointment_date.strftime("%m/%d/%Y")}} </p>

                                    </div>

                                    

                                {% endfor %}


                            </div>

                        </div>

                        <div class ="container">

                                <h3>Edit general schedule</h3>
                                <div class ="inner_box">
                                    <form method = "POST" action = "/submit_general_schedule">

                                        {% set days = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"] %}

                                        {% for day in days %}
                                        {% set s = schedule[loop.index0] %}

                                                <label>{{ day.title() }}:</label>

                                                <input type="time" name="start_time_{{day}}" value ="{{s.start_time}}"  placeholder="hour" class="input_box" >

                                                -

                                                <input type="time" name="end_time_{{day}}" value ="{{s.end_time}}" placeholder="hour" class="input_box">

                                                <br><br>
                                        {% endfor %}

                                        
                                        <button type ="submit" class ="input_box" ><strong>Submit schedule</strong></button>
                                    </form>
                                </div>
                        </div>
                        
                        <div class ="container">

                                <h3>Input unavailability period</h3>
                            
                                <form method = "POST" action = "/submit_time_exception">


                                    <label> Date: </label>

                                    <input type ="datetime-local" min ="{{ current_datetime }}" name = "start_date" id ="start_date_input">

                                    -

                                    <input type ="datetime-local" min ="{{ current_datetime }}" name = "end_date" id ="end_date_input">

                                    <br>
                                    <br>

                                    <button type ="submit" class ="input_box" ><strong>Submit unavailability</strong></button>
                                </form>

                                <br>

                                <div class ="ap_list"> <!-- allows user to see and edit unavailability periods that were submitted-->
                                        {% for e in submitted_exceptions %}
                                                <div class="ap_box">

                                                    <p> {{e.start_date.strftime("%m/%d/%Y")}} : {{e.start_time}} <strong>-</strong> {{e.end_date.strftime("%m/%d/%Y")}} : {{e.end_time}} </p>

                                                </div>
                                        {% endfor %}
                                </div>
                        </div>

                    </div>

        </div>
            <script src = "{{ url_for('static' , filename = 'JavaScript/sidebar.js') }}"></script>
            <script src = "{{ url_for('static' , filename = 'JavaScript/doctor_appointments_page.js') }}"></script>
    </body>

</html>