<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/doctor_page.css') }}">
        <title>Teammed</title>
    </head>
    <body>
            <h2>Information for doctor {{ first_name }} {{ last_name }} </h2>
            
        <div class = "left_side">

                        <h3>Find patient</h3>

                        <form method ="POST" action ="/find_patient">
                            <label >First Name:</label>
                            <input type ="text"  name="first_name">
                            <br>
                            <br>
                            <label >Last Name:</label>
                            <input type ="text"  name="last_name">

                            <button type ="submit">Submit</button>
                        </form>
                        
                        {% for message in get_flashed_messages() %}
                            <p>{{message}}</p>
                        {% endfor %}

                        <h3> My consultations </h3>

                <div class ="upper_area">
                     <div class ="consultation_container">
                        {% for c in doctor.consultations %}
                            <div class ="consultation_box">
                        
                                <p> first name: {{c.patient.first_name}} </p>
                                <p> last name: {{c.patient.last_name}} </p>
                                <p> date: {{c.consultation_date.strftime("%d-%m-%Y")}} </p>
                                <p> weight: {{c.weight}} </p>
                                <p> diagnostic: {{c.diagnostic}} </p>
                                <p> health state: {{c.health_state}} </p>

                                {% if c.upload_file_path is not none %}
                                    <a href="{{ url_for('download_attachment', consultation_id = c.id) }}">
                                        <button class ="download_button">
                                            download attachment
                                        </button>
                                    </a>
                                {% endif %}
                                
                                <a href ="{{ url_for('load_edit_consultation_page' , consultation_id = c.id ) }}"
                                    <button class ="edit_button">
                                        Edit
                                    </button>
                                 </a>

                            </div>
                            <hr class ="between_consultations">
                        {% endfor %}
                    </div>

                </div>
                
         </div>

         <br>
         <br>
         
         <div class ="right_side">

            <button class="edit_button" onclick="window.location.href='/edit_account'">
                         Edit Account
            </button>

            <button onclick = "logout_user()">Log out</button>
            
         </div>

            <script src = "{{ url_for('static' , filename = 'JavaScript/doctor_page.js') }}"></script>
    </body>

</html>