<!DOCTYPE html>

<html>
    <head>
            <link rel ="stylesheet" href = "{{ url_for('static', filename='CSS/doctor_consultations_page.css') }}">
            <link rel ="stylesheet" href = "{{ url_for('static', filename='CSS/sidebar.css') }}">
    </head>
    <body>
            <div class ="content">

                    {%include "sidebar.html" %}

                    <div class ="right_side">

                            <div class ="container"> 

                                    <h3 style>Patients:</h3>

                                    <input type="text" id="patient_search" placeholder="search patient">

                                    <br>
                                    <br>
                                                
                                    <div class ="patients_list">
                                        {% for p in patients %}  
                                                <button type ="button" class ="patient_button" onclick = " window.location.href='/display_patient/{{p.id}}'" >{{p.first_name.title()}} {{p.last_name.title()}}</button>
                                        {% endfor %}
                                    </div>

                            </div>

                            <div class ="container"> 

                                    <h3>Consultations:</h3>
                                    <div class ="consultations_list">
                                        {% for c in consultations %}
                                            <div class ="box">
                                                    <p>{{c.patient.first_name.title()}} {{c.patient.last_name.title()}}</p>
                                                    <p>{{c.diagnostic.title()}}</p>
                                                    <button class ="edit_button" type ="button" onclick = "window.location.href ='/load_edit_consultation_page/{{c.id}}'">
                                                    Edit
                                                    </button>
                                            </div>
                                        {% endfor %}
                                    </div>
                            </div>
                    </div>
            </div>
            <script src = "{{ url_for('static' , filename = 'JavaScript/sidebar.js') }}"></script>
            <script src = "{{ url_for('static' , filename = 'JavaScript/doctor_consultations_page.js') }}"></script>
    </body>
</html>