<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/edit_consultation_page.css') }}">
        <link rel ="stylesheet" href = "{{ url_for('static', filename='CSS/sidebar.css') }}">
        <title>Teammed</title>
    </head>
    <body>

            <div class ="content">

                 {% include "sidebar.html" %}

                    <div class ="right_side">
                        <h2>Edit consultation </h2>
                
                        <br>

                        <div class ="form_container">
                            <form method ="POST" action ="/change_consultation/{{c.id}}" enctype="multipart/form-data">


                                <label>Diagnostic:</label>
                                <select  name="diagnostic" value = "{{c.diagnostic}}" class ="input_box">

                                    {% for d in diagnostics_list %}
                                        <option value = "{{d}}">{{d}}</option>
                                    {% endfor %}

                                </select>

                                <br>
                                <br>

                                <label>Date:</label>
                                <input class ="input_box" type ="date"  name="date" value = "{{c.consultation_date}}" class ="input_box">

                                <br>
                                <br>

                                <label >Weight:</label>
                                <input class ="input_box" type ="number"  name="weight" value = "{{c.weight}}" class ="input_box">

                                <br>
                                <br>

                                <label >Health state:</label>
                                <input class ="input_box" type ="number"  name="health_state" min = 0 max = 10  value = "{{c.health_state}}" class ="input_box">

                                <br>
                                <br>

                                <label >Heart rate:</label>
                                <input class ="input_box" type ="number"  name="heart_rate" class ="input_box" value = "{{c.heart_rate}}" >

                                <br>
                                <br>

                                <label >Blood pressure:</label>
                                <input class ="input_box" type ="number"  name="blood_pressure_systolic"  value = "{{c.blood_pressure_systolic}}" class ="input_box"> /
                                <input class ="input_box" type ="number"  name="blood_pressure_diastolic"  value = "{{c.blood_pressure_diastolic}}" class ="input_box">

                                <br>
                                <br>

                                <label >SpO<sub>2:</label>
                                <input class ="input_box" type ="number"  name="blood_oxygen_saturation" min = 0 max = 100   class ="input_box" value ="{{c.blood_oxygen_saturation}}">

                                <br>
                                <br>
                                
                                <button type ="submit" class ="input_box"><strong>Submit changes</strong></button>

                            </form>
                        </div>
                        {% for message in get_flashed_messages() %}
                            <p>{{message}}</p>
                        {% endfor %}
                    </div>
            </div>

            <script src = "{{ url_for('static' , filename = 'JavaScript/sidebar.js') }}"></script>
    </body>

</html>