<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/patient_consultations_page.css') }}">
        <link rel ="stylesheet" href = "{{ url_for('static', filename='CSS/sidebar.css') }}">
        <title>Teammed</title>
    </head>
    <body>
        
        <div class ="content">
            
                {% include "sidebar.html" %}

                <div class = "right_side">


                        <h3> My consultations </h3>

                            <div class ="consultation_container">
                                {% for c in user.patient.consultations | reverse %}
                                    <div class ="consultation_box">
                                
                                        <p> <strong>Dr. {{c.doctor.first_name.title()}} {{c.doctor.last_name.title()}} </strong> </p>
                                        <p> {{c.consultation_date.strftime("%d %B %Y")}} </p>
                                        <p> Diagnostic: <strong>{{c.diagnostic}}</strong> </p>
                                        <p> Health state: {{c.health_state}} </p>

                                        {% if c.heart_rate %}
                                            <p> Heart rate:  {{c.heart_rate}} BPM</p>
                                        {% endif %}

                                        {% if c.weight %}
                                            <p> Weight: {{c.weight}} kg</p>
                                        {% endif %}

                                        {% if c.blood_pressure_systolic %}
                                            <p> Blood pressure:  {{c.blood_pressure_systolic}} mmHg / {{c.blood_pressure_diastolic}} mmHg </p>
                                        {% endif %}

                                        {% if c.blood_oxygen_saturation %}
                                            <p> SpO<sub>2</sub>:    {{c.blood_oxygen_saturation}} % </p>
                                        {% endif %}

                                        {% if c.upload_file_path is not none %}
                                            <a href="{{ url_for('download_attachment', consultation_id = c.id) }}">
                                                <button class ="download_button">
                                                    download attachment
                                                </button>
                                            </a>
                                        {% endif %}

                                    </div>
                                    
                                {% endfor %}

                            </div>

                </div>
        </div>
            <script src = "{{ url_for('static' , filename = 'JavaScript/sidebar.js') }}"></script>
            <script src = "{{ url_for('static' , filename = 'JavaScript/patient_consultation_page.js') }}"></script>
    </body>

</html>