<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/patient_page.css') }}">
        <title>Teammed</title>
    </head>
    <body>

        

            <div class ="content">

                
                    <div class = "left_side">
                    
                        <div class="upper_bar">
                             <h2>Information for patient {{ first_name }} {{ last_name }} </h2>
                         </div>

                            <div class ="small_header">
                                <h3>MY CONSULTATIONS:</h3>
                            </div>

                            <br>

                            <div class ="upper_area">

                                    <div class ="consultation_container">

                                        {% for c in consultations | reverse %}

                                            <div class ="consultation_box">

                                                <h4> {{c.consultation_date}} </h4>
                                                <p><b> Weight </b> : {{c.weight}} </p>
                                                <p> <b> Diagnostic </b> : {{c.diagnostic}} </p>
                                                <p> <b> Health state </b> : {{c.health_state}} </p>
                                                <p> <b> Doctor </b> : {{c.doctor_first_name.title()}} {{c.doctor_last_name.title()}}  </p>
                                                <p> <b> Specialisation </b> : {{c.doctor_specialisation}}   </p>
                                                {% if c.upload_file_path is not none %}
                                                    <a href="{{ url_for('download_attachment', consultation_id = c.id) }}">
                                                        <button class ="download_button">
                                                            download attachment
                                                        </button>
                                                    </a>
                                                {% endif %}

                                            </div>

                                        {% endfor %}

                                    </div>

                                    <div class ="charts_area">
                                         <br>
                                            <canvas id ="weight_chart" class ="chart"></canvas>

                                         <br>
                                                <canvas id ="health_state_chart" class ="chart"></canvas>
                                         <br>
                                     </div>
                            </div>
                            
                            <br>

                            <div class ="small_header">
                                <h3>MY DOCTORS:</h3>
                            </div>

                            <br>

                            <div class ="my_doctors_list">
                                    {% for d in doctors %}
                                        
                                            <button onclick="redirect_to_doctor_page({{d.id}})" class ="doctor_page_button"> 
                                                Dr. {{d.first_name.title()}} {{d.last_name.title()}} 
                                            </button>
                                    
                                    {% endfor %}
                            </div>
                    </div>

                    <div class = "right_side">
                        
                        <br>
                        <br>
                        
                            <span class="second_half">Team</span><span class="third_half">med</span>

                        <br>
                        <br>

                            <button class="edit_button" onclick="window.location.href='/edit_account'">
                                Edit Account
                            </button>

                        <br>
                        <br>
                            <button onclick = "logout_user()" class="logout_button">Log out</button>

                    </div>
            </div>
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
            <script> const consultations_list = {{ consultations | tojson | safe }};</script>
            <script src = "{{ url_for('static' , filename = 'JavaScript/patient_page.js') }}"></script>

    </body>

</html>