<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/patient_make_appointment_page.css') }}">
        <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.10/index.global.min.css' rel='stylesheet'>
        <title>Teammed</title>
    </head>
    <body>
        
        <div class ="content">
                <div class = "sidebar">
                                <div class ="logo">
                                    <span class="second_half">Team</span><span class="third_half">med</span>
                                </div>

                                <br>
                                <br>

                                    <button class="sidebar_button" onclick="window.location.href='/patient_stats_page'">
                                        Statistics
                                    </button>
                                
                                <br>
                                <br>

                                    <button class="sidebar_button" onclick="window.location.href='/patient_appointments_page'">
                                        Appointments
                                    </button>

                                <br>
                                <br>

                                    <button class="sidebar_button" onclick="window.location.href='/patient_consultations_page'">
                                        Consultations
                                    </button>
                                
                                <br>
                                <br>

                                    <button class="sidebar_button"  onclick="window.location.href='/edit_account'">
                                        Edit Account
                                    </button>

                                    <button onclick = "logout_user()" class="sidebar_button" id="logout_button">Log out</button>

                            </div>

                            <div class="right_side">

                                    <div class ="calendar_container">
                                        <h2> Make an appointment with Dr. {{doctor.first_name.title()}} {{doctor.last_name.title()}} </h2>
                                        
                                        <div id="calendar"></div> <!-- display the chosen doctors' schedule -->
                                    </div>

                                    <div id="appointment_panel">

                                            <div class ="panel_content">

                                                <div id ="main_text"></div>

                                                <br>
                                                
                                                <div class ="time_segments_container">
                                                       {% for day in range(0,7) %}
                                                            <div id = "{{day}}_segments" style ="display:none" >
                                                                    {% for segment in time_segments[ day ] %}
                                                                        <button type="button" class = "time_segment_button" onclick ="selectTimeSegment(this)">{{segment}}</button>
                                                                    {% endfor %}
                                                            </div>
                                                       {% endfor %}
                                                </div>

                                                <button type="button" id = "make_appointment_button" onclick = "showConfirmBox()">Make appointment</button>

                                            </div>
                                    </div>

                                    
                    <div id="modal_box">
                        <p id="modal_text">Confirm appointment?</p>
                        <button onclick="submitAppointment()">Confirm</button>
                        <button onclick="closeModal()">Cancel</button>
                    </div>
</div>
                            </div>

            </div>

            {% for message in get_flashed_messages() %}
                <p>{{message}}</p>
            {% endfor %}

            <script>const doctorId = {{ doctor.id }}; </script>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.10/index.global.min.js'></script>
            <script src = "{{ url_for('static' , filename = 'JavaScript/patient_make_appointment_page.js') }}"></script>
    </body>

</html>
