<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/patient_appointments_page.css') }}">
        <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.10/index.global.min.css' rel='stylesheet'>
        <title>Teammed</title>
    </head>
    <body>
        
        <div class ="content">
                <div class = "sidebar">
                                <div class ="logo">
                                    <span class="second_half">Team</span><span class="third_half">med</span>
                                </div>

                                <br>
                                <br>

                                    <button class="sidebar_button" onclick="window.location.href='/patient_stats_page'">
                                        Statistics
                                    </button>
                                
                                <br>
                                <br>

                                    <button class="sidebar_button" onclick="window.location.href='/patient_appointments_page'">
                                        Appointments
                                    </button>

                                <br>
                                <br>

                                    <button class="sidebar_button" onclick="window.location.href='/patient_consultations_page'">
                                        Consultations
                                    </button>
                                
                                <br>
                                <br>

                                    <button class="sidebar_button"  onclick="window.location.href='/edit_account'">
                                        Edit Account
                                    </button>

                                    <button onclick = "logout_user()" class="sidebar_button" id="logout_button">Log out</button>

                            </div>

                            <div class="right_side">

                                    <div class ="container">
                                                    
                                                    <h3>Choose doctor:</h3>

                                                    <br>

                                                    <input type="text" id="doctor_search" placeholder="search doctor">

                                                    <br>
                                                    <br>
                                                    
                                                    <div class = "doctor_search_list">
                                                        
                                                        {% for d in doctor_list %}
                                                            <button class ="doctor_button" onclick = "window.location.href='/patient_make_appointment_page/{{d.id}}'">
                                                                Dr. {{d.first_name.title()}} {{d.last_name.title()}}
                                                            </button>
                                                        {% endfor %}

                                                    </div>
                                                    
                                                    <h3> My appointments: </h3>

                                                    <div class ="appointments_list">

                                                        {% for ap in appointments %}
                                                                <div class ="appointment_box_{{ap.confirmation}}">
                                                                        <p>Dr. {{ap.doctor.first_name.title()}} {{ap.doctor.last_name.title()}}</p>
                                                                        {% if ap.doctor.specialisation %}
                                                                         <p>{{ap.doctor.specialisation.title()}}</p>
                                                                        {% endif %}
                                                                        <p>{{ap.appointment_date}}</p>

                                                                        {% if ap.confirmation == 1 %}
                                                                            <p>Confirmed</p>
                                                                        {% elif ap.confirmation == 0 %}
                                                                            <p>Pending</p>
                                                                        {% else %}
                                                                            <p>Rejected</p>
                                                                        {% endif %}
                                                                </div>
                                                        {% endfor %}

                                                    </div>
                                    </div>

                                    <div id="calendar"></div> <!-- displays the patients' schedule -->
                                    
                            </div>

            </div>

            {% for message in get_flashed_messages() %}
                <p>{{message}}</p>
            {% endfor %}

            
            <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.10/index.global.min.js'></script>
            <script src = "{{ url_for('static' , filename = 'JavaScript/patient_appointments_page.js') }}"></script>
    </body>

</html>