<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/patient_appointments_page.css') }}">
        <link rel ="stylesheet" href = "{{ url_for('static', filename='CSS/sidebar.css') }}">
        <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.10/index.global.min.css' rel='stylesheet'>
        <title>Teammed</title>
    </head>
    <body>
        
        <div class ="content">

                            {% include "sidebar.html" %}

                            <div class="right_side">

                                    <div class ="container">
                                                    
                                                    <h3>Choose doctor:</h3>

                                                    <br>

                                                    <input type="text" id="doctor_search" placeholder="search doctor">

                                                    <br>
                                                    <br>
                                                    
                                                    <div class = "doctor_search_list">
                                                        
                                                        {% for d in doctor_list %}
                                                            <button class ="doctor_button" onclick = "window.location.href='/patient_make_appointment_page/{{d.id}}'">
                                                                Dr. {{d.first_name.title()}} {{d.last_name.title()}}
                                                            </button>
                                                        {% endfor %}

                                                    </div>
                                                    
                                                    <h3> My appointments: </h3>

                                                    <div class ="appointments_list">

                                                        {% for ap in appointments %}
                                                                <div class ="appointment_box_{{ap.confirmation}}" style ="padding-left: 5px">
                                                                        <p>Dr. {{ap.doctor.first_name.title()}} {{ap.doctor.last_name.title()}}</p>
                                                                        {% if ap.doctor.specialisation %}
                                                                         <p>{{ap.doctor.specialisation.title()}}</p>
                                                                        {% endif %}
                                                                        <p>{{ap.appointment_date.strftime("%m/%d/%Y")}}</p>

                                                                        {% if ap.confirmation == 1 %}
                                                                            <strong>Confirmed</strong>
                                                                        {% elif ap.confirmation == 0 %}
                                                                            <strong>Pending</strong>
                                                                        {% else %}
                                                                            <strong>Rejected</strong>
                                                                        {% endif %}
                                                                </div>
                                                        {% endfor %}

                                                    </div>
                                    </div>

                                    <div id="calendar"></div> <!-- displays the patients' schedule -->
                                    
                            </div>

            </div>

            {% for message in get_flashed_messages() %}
                <p>{{message}}</p>
            {% endfor %}

            
            <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.10/index.global.min.js'></script>
            <script src = "{{ url_for('static' , filename = 'JavaScript/sidebar.js') }}"></script>
            <script src = "{{ url_for('static' , filename = 'JavaScript/patient_appointments_page.js') }}"></script>
    </body>

</html>