<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/patient_stats_page.css') }}">
        <title>Teammed</title>
    </head>
    <body>

        

            <div class ="content">

                    <div class = "sidebar">
                        <div class ="logo">
                            <span class="second_half">Team</span><span class="third_half">med</span>
                        </div>

                        <br>
                        <br>

                            <button class="sidebar_button" onclick="window.location.href='/patient_stats_page'">
                                Statistics
                            </button>
                        
                        <br>
                        <br>

                            <button class="sidebar_button" onclick="window.location.href='/patient_appointments_page'">
                                Appointments
                            </button>

                        <br>
                        <br>

                            <button class="sidebar_button" onclick="window.location.href='/patient_consultations_page'">
                                Consultations
                            </button>
                        
                        <br>
                        <br>

                            <button class="sidebar_button"  onclick="window.location.href='/edit_account'">
                                Edit Account
                            </button>

                            <button onclick = "logout_user()" class="sidebar_button" id="logout_button">Log out</button>

                    </div>

                    <div class ="charts_area">

                        <div class ="filter_box">
                            <select name="timerange" id="timerange">
                                <option value="-1">All time</option>
                                <option value="365">Last year</option>
                                <option value="180">Last 6 months</option>
                                <option value="90">Last 3 months</option>
                                <option value="30">Last month</option>
                                <option value="7">Last week</option>
                            </select>
                        </div>
                        <div></div> 
                        
                        <div class="chart" id="health_state_chart"></div>
                        <div class ="chart_stats_box" id="extremes_health">
                        
                            <div class ="min_max_box">
                                 <strong><p class ="mean_tag">Max</p></strong>
                                <div class ="max_item" id="max_health_state">{{ consultations | map(attribute="health_state") | max }}</div>
                            </div>

                            <div class ="mean_box" id="mean_health">
                                <strong><p class ="mean_tag">Mean</p></strong>
                                {% if consultations | length > 0 %}
                                    {{ ( ( consultations | map(attribute="health_state") | sum ) / ( consultations | length) ) | round(1) }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </div>
                            
                            <div class ="min_max_box">
                                 <strong><p class ="mean_tag">Min</p></strong>
                                <div class ="min_item" id="min_health_state">{{ consultations | map(attribute="health_state") | min }}</div>
                            </div>

                        </div>

                        <div class="chart" id="weight_chart"></div>
                        <div class ="chart_stats_box" id="extremes_weight">
                        
                            <div class ="min_max_box">
                                <strong><p class ="mean_tag">Max</p></strong>
                                <div class ="max_item" id="max_weight">{{ consultations | map(attribute="weight") | max }}</div>
                                
                            </div>

                            <div class ="mean_box" id="mean_weight">
                                <strong><p class ="mean_tag">Mean</p></strong>
                                {% if consultations | length > 0 %}
                                    {{ ( ( consultations | map(attribute="weight") | sum ) / ( consultations | length) ) | int }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </div>

                            <div class ="min_max_box">
                                <strong><p class ="mean_tag">Min</p></strong>
                                 <div class ="min_item" id="min_weight">{{ consultations | map(attribute="weight") | min }}</div>
                            </div>

                        </div>

                        <div class="chart" id="blood_pressure_systolic_chart"></div>
                        <div class ="chart_stats_box" id="extremes_bps">
                        
                            <div class ="min_max_box">
                                <strong><p class ="mean_tag">Max</p></strong>
                                <div class ="max_item" id="max_bps">{{ consultations | map(attribute="blood_pressure_systolic") | max }}</div>
                            </div>

                            <div class ="mean_box" id="mean_bps">
                                <strong><p class ="mean_tag">Mean</p></strong>
                                {% if consultations | length > 0 %}
                                    {{ ( ( consultations | map(attribute="blood_pressure_systolic") | sum ) / ( consultations | length) ) | int }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </div>

                            <div class ="min_max_box">
                                 <strong><p class ="mean_tag">Min</p></strong>
                                 <div class ="min_item" id="min_bps">{{ consultations | map(attribute="blood_pressure_systolic") | min }}</div>
                            </div>

                        </div>

                        <div class="chart" id="blood_pressure_diastolic_chart"></div>
                        <div class ="chart_stats_box" id="extremes_bpd">
                        
                            <div class ="min_max_box">
                                <strong><p class ="mean_tag">Max</p></strong>
                                <div class ="max_item" id="max_bpd">{{ consultations | map(attribute="blood_pressure_diastolic") | max }}</div>

                            </div>

                            <div class ="mean_box" id="mean_bpd">
                                <strong><p class ="mean_tag">Mean</p></strong>
                                {% if consultations | length > 0 %}
                                    {{ ( ( consultations | map(attribute="blood_pressure_diastolic") | sum ) / ( consultations | length) ) | int }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </div>

                            <div class ="min_max_box">
                                 <strong><p class ="mean_tag">Min</p></strong>
                                <div class ="min_item" id="min_bpd">{{ consultations | map(attribute="blood_pressure_diastolic") | min }}</div>
                            </div>

                        </div>

                        <div class="chart" id="heart_rate_chart"></div>
                        <div class ="chart_stats_box" id="extremes_heart_rate">

                            <div class ="min_max_box">
                                <strong><p class ="mean_tag">Max</p></strong>
                                <div class ="max_item" id="max_heart_rate">{{ consultations | map(attribute="heart_rate") | max }}</div>
                            </div>

                            <div class ="mean_box" id="mean_heart_rate">
                                <strong><p class ="mean_tag">Mean</p></strong>
                                {% if consultations | length > 0 %}
                                    {{ ( ( consultations | map(attribute="heart_rate") | sum ) / ( consultations | length) ) | round(1) }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </div>

                            <div class ="min_max_box">
                                 <strong><p class ="mean_tag">Min</p></strong>
                               <div class ="min_item" id="min_heart_rate">{{ consultations | map(attribute="heart_rate") | min }}</div>
                            </div>

                        </div>

                        <div class="chart" id="blood_oxygen_saturation_chart"></div>
                        <div class ="chart_stats_box" id="extremes_spo2">

                            <div class ="min_max_box">
                                <strong><p class ="mean_tag">Max</p></strong>
                                <div class ="max_item" id="max_spo2">{{ consultations | map(attribute="blood_oxygen_saturation") | max }}</div>
                            
                            </div>

                            <div class ="mean_box" id="mean_spo2">
                                <strong><p class ="mean_tag">Mean</p></strong>
                                {% if consultations | length > 0 %}
                                    {{ ( ( consultations | map(attribute="blood_oxygen_saturation") | sum ) / ( consultations | length) ) | round(1) }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </div>

                            <div class ="min_max_box">
                                <strong><p class ="mean_tag">Min</p></strong>
                                <div class ="min_item" id="min_spo2">{{ consultations | map(attribute="blood_oxygen_saturation") | min }}</div>
                            </div>

                        </div>
                        </div>

                    </div>
                
                 </div>
                 
                    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                    <script> const consultations_list = {{ consultations | tojson | safe }};</script>
                    <script src = "{{ url_for('static' , filename = 'JavaScript/patient_stats_page.js') }}"></script>
            
           

    </body>

</html>