<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/patient_page.css') }}">
        <link rel ="stylesheet" href = "{{ url_for('static', filename='CSS/sidebar.css') }}">
        <title>Teammed</title>
    </head>
    <body>

            <div class ="content">

                    {% include "sidebar.html" %}

                    <div class = "right_side">
                    
                        
                             <h2>Information for Dr. {{ first_name.title() }} {{ last_name.title() }} </h2>
                         
                            <br>
                            <br>
                            
                            <div class ="upper_area">

                                    <div class ="consultation_container">
                                        
                                        <div class ="small_header">
                                            <h3>LATEST CONSULTATIONS:</h3>
                                        </div>

                                        {% for c in consultations | reverse %}

                                            <div class ="consultation_box">

                                                <b> {{c.consultation_date.strftime("%d %B %Y")}} </b>
                                                <p> <b> Dr. </b>  {{c.doctor_first_name.title()}} {{c.doctor_last_name.title()}}  {{c.doctor_specialisation}}   </p>
                                                    <b> {{c.diagnostic.title()}} </b>

                                                {% if c.upload_file_path is not none %}
                                                    <a href="{{ url_for('download_attachment', consultation_id = c.id) }}">
                                                        <button class ="download_button">
                                                            download attachment
                                                        </button>
                                                    </a>
                                                {% endif %}
                                                
                                            </div>

                                            <br>

                                        {% endfor %}

                                    </div>

                                    <div class ="charts_area">
                                        <div class ="small_header">
                                            <h3>HEALTH STATE PROGRESS:</h3>
                                        </div>
                                                <div id ="health_state_chart" class ="chart"></div>
                                     </div>
                            </div>

                    </div>

                    
            </div>
            <script src = "{{ url_for('static' , filename = 'JavaScript/sidebar.js') }}"></script>
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            <script> const consultations_list = {{ consultations | tojson | safe }};</script>
            <script src = "{{ url_for('static' , filename = 'JavaScript/patient_page.js') }}"></script>

    </body>

</html>