<!DOCTYPE html>

<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/register_page.css') }}">
    </head>
    <body>
        <div class ="container">
            <h2 style="color:white;">Register</h2>

            <div class ="form_container">
                <form method = "POST" action ="/submit_register">
                    
                    <label>Username:</label>
                    <input type="text"  name="username" class ="input_box">

                    <br>
                    <br>

                    <label >Password:</label>
                    <input type ="text"  name="password" class ="input_box">

                    <br>
                    <br>

                    <label> Email: </label>
                    <input type="text"  name="email" class ="input_box">

                    <br>
                    <br>

                    <label >First Name:</label>
                    <input type ="text"  name="first_name" class ="input_box">

                    <br>
                    <br>

                    <label >Last Name:</label>
                    <input type ="text"  name="last_name" class ="input_box">

                    <br>
                    <br>

                    <label>Gender:</label>
                    <input type ="radio"  name="gender" value="male">
                    Male
                    </label>

                    <label >
                    <input type ="radio"  name="gender" value="female">
                    Female
                    </label>

                    <br>
                    <br>

                    <label>Date of birth:</label>
                    <input type ="date"  name="birth_date" class ="input_box">

                    <br>
                    <br>

                    <label> Contact email: </label>
                    <input type="text"  name="contact_email" class ="input_box">

                    <br>
                    <br>

                    <label> Phone number: </label>
                    <input type="text"  name="phone_number" class ="input_box">

                    <br>
                    <br>

                    <label >Are you a doctor?</label>
                    <input type ="checkbox"  name="is_doctor">

                    <br>
                    <br>

                    <button type ="submit">Submit</button>
                </form>
            </div>

            {% for message in get_flashed_messages() %}
                <p>{{message}}</p>
            {% endfor %}
            
        </div>
    </body>

</html>